@import url(http://fonts.googleapis.com/css?family=Capriola);
body{
    background-image: url(../photos/pattern8.png) ;
    font-family: Capriola, Helvetica, sans-serif;
}
header {padding: 12% 0 5% 0;}
header a {margin-left: 3%;}
header a span {margin-right: 1%;}

.imgPreview img{
    width: 150px;
    float: left;
}
.obyavlenie {
    background-color: rgba(247, 229, 178, 0.58);
    width: 100%;
    clear: both;
}
.link {
    top: 10px;
}
.adsType,.adsCategory,.link {
    position: relative;
    font-size: small;
    left: 15px;
}
.adsType{
    padding-top: 40px;
}
.create_data {
    position: relative;
    left: -140px;
    top: 15px;
}
.cost {
    position: relative;
    text-align: right;
    margin-right: 20px;
    top:-60px;
}
.titleForms{
    text-align: center;
    font-size: x-large;
    padding-top: 20%;
}
.tableForms{
    margin-top: 10%;
    text-align: right;
}
.tableForms tr td{
    padding: 1%;
}

.tableForms tr td *{
    float:  left;
    padding: 2%;
}
.buttonsForms *{
    margin:2%;
}
.centered{
    margin: 0 auto;
    float: none;
}