header {
    padding: 12% 0 5% 0;
}
img {
    width: 150px;
}
.objavleniya {
    position: relative;
    top: 150px;
    left: 250px;
    background: greenyellow;
    width: 900px;
}
.obyavlenie {
    background: lightgrey;
    width: 100%;
}
.link {
    position: relative;
    left: 0px;
    top: -100px;
}
.create_data {
    position: absolute;
}