header {padding: 12% 0 5% 0;}
header a {margin-left: 3%;}
header a span {margin-right: 1%;}
img {width: 150px;}
.obyavlenie {
    background: lightgrey;
    width: 100%;
}
.link {
    position: relative;
    left: 0px;
    top: -100px;
}
.create_data {
    position: absolute;
}